$primary:         #f26624;
$secondary:       #7BB77C; 
$success:         #5cb85c;
$info:            #5bc0de;
$warning:         #f0ad4e;
$danger:          #de6764; 

$font-family-sans-serif:     "Scania Sans", Helvetica, Arial, sans-serif !default;
$font-family-base:           $font-family-sans-serif !default;